:root {
    /* --pico-block-spacing-vertical: 0.8rem */
    --pico-card-box-shadow: none;
    --pico-font-size: 100%;
    --pico-outline-width: 0
}

body>header {
    --pico-block-spacing-vertical: 0.5rem;
    --pico-nav-element-spacing-vertical: 0;
    --pico-nav-element-spacing-horizontal: 0.2rem;

    position: fixed;
    top: 0;
    background: var(--pico-background-color);
    border-bottom: var(--pico-border-width) solid var(--pico-card-border-color);
    z-index: 100;
}

body>main {
    padding-top: 64px;
    padding-bottom: 80px;
}

body>footer {
    position: fixed;
    bottom: 0;
    background: var(--pico-background-color);
    border-top: var(--pico-border-width) solid var(--pico-card-border-color);
}

.button-icon {
    cursor: pointer;
    color: var(--pico-h1-color);
    display: inline-block;

    padding: 8px;
    border-radius: 100%;

    border: none;
    background: none;
}
.button-icon:hover {
    background-color: var(--pico-form-element-selected-background-color)
}
.button-icon:active {
    background-color: var(--pico-contrast-focus);
    outline: none;
}
.button-icon:focus{
    outline: none !important;
    border: none !important;
}
/* .button-icon::selection {
    border: none;
    outline: none;
} */

.cancel.button-icon {
    color: var(--pico-del-color);
}

.small.button-icon {
    padding: 4px;
}
.small.button-icon span {
    font-size: 18;
}

.dropdown-icon summary::after {
    display: none !important;
}
.dropdown-icon ul {
    right: 0px;
    left: auto !important;
}
.dropdown-icon ul li a {
    cursor: pointer;
    user-select: none
}


article main :last-child {
    margin-bottom: 0;
}

div.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

article header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article header details {
    margin-bottom: 0;
}


dialog article main article {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    /* box-shadow: var(--pico-card-box-shadow) */
}